.note {
  background-color: #f6de6f;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  min-height: 170px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  &:hover {
    transform: scale(1.025);
  }
}

.noteFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

.noteNew {
  @extend .note;
  background-color: #6dbfb8;
}

.newTextArea {
  border: none;
  resize: none;
  background-color: #6dbfb8;
  &:focus {
    outline: none;
  }
}

.editNote {
  @extend .newTextArea;
  background-color: #f6de6f;
}

.save {
  background-color: #e1e1e1ce;
  border: none;
  border-radius: 15px;
  padding: 3px 8px 3px 8px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.15s ease-out;
  &:hover {
    background-color: #ededed;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.deleteIcon {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.15s ease-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
}

.noteText {
  width: 100%;
  word-wrap: break-word;
  display: 'block';
}

.footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editIcon {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.15s ease-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
}

.deleteAnimation {
  @keyframes disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  animation-name: disappear;
  animation-duration: 0.5s;
}

.addAnimation {
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  animation-name: appear;
  animation-duration: 0.5s;
}
