.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

.logo-and-notes {
  display: grid;
  grid-template-columns: 55px 100px 100px auto;
  grid-gap: 5 px;
  grid-template-areas: 'logo notes dark-mode';
  align-items: start;
}

.img-note {
  margin-top: 21px;
  grid-area: logo;
}

.img-note:hover {
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

.notes {
  grid-area: notes;
}

.dark-mode {
  background-color: #e1e1e1ce;
  border: none;
  border-radius: 15px;
  padding: 3px 8px 3px 8px;
  height: 30px;
}

.dark-mode:hover {
  background-color: #ededed;
  transform: scale(1.05);
  cursor: pointer;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
